{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta http-equiv="refresh" content="300">
<link rel="stylesheet" href="/static/tools.css">
<script src="/static/tools.js"></script>
<script src="/static/parseBiopsy.js"></script>
{% endblock %}
{% block title %}Radonc tools{% endblock %}
{% block bodyattributes %}{% endblock %}
{% block body %}
<h1>Radonc tools</h1>

<h3>Markdown table maker (Excel table copy format)</h3>
<textarea id='tableinput' name='tableinput' rows='10', cols='80'>
  Paste the ms office table here...
</textarea>
<button onclick='make_markdown_table()' name='runtable' id='runtable' value='runtable'>Make Markdown Table</button>
<textarea id='tableoutput' name='tableoutput' rows='10', cols='80'>
  Output markdown table will appear here...
</textarea>

<h3>Prostate biopsy parser</h3>
<textarea id='pxbiopsyinput' name='pxbiopsyinput' rows='10', cols='80'>
  Paste the raw prostate biopsy text here
</textarea>
<button onclick='runParseBiopsy()' name='runpxbiopsy' id='runpxbiopsy' value='runpxbiopsy'>Parse biopsy results</button>
<textarea id='pxbiopsyoutput' name='pxbiopsyoutput' rows='10', cols='80'>
  Parsed and outputted biopsy line will appear here...
</textarea>

{% endblock %}
